<div>
	<select name="year">
		<% years.forEach(year => { %>
			<option value="year"><%= year %></option>		 
		<% }) %>
	</select>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
	<% clients.forEach(function (client) {%>
		<div class="col">
			<div class="card-body card h-100" style="width: 18rem">
				<h5 class="card-title">
					<a href="client/<%=client.clientId%>">
						<%=client.name%>
					</a>
				</h5>
				<ul class="list-group list-group-flush">
					<% client.Projects.forEach(function (project) { %>
						<li class="list-group-item">
							<a href="/project/<%=project.projectId%>">
								<%= project.name %>								
							</a> - <%= project.year %>
						</li>
						<% }) %>
				</ul>
			</div>
		</div>
		<%})%>
</div>