<h1><%= pageTitle %></h1>
<div>
	<form action="/client/year/" method="get">
		<select name="year" onchange="this.form.submit()">
			<% years.forEach(year => { %>
				<option value="<%= year %>"<% if(year==currentYear){%> selected<%} %>><%= year %></option>		 
			<% }) %>
		</select>
	</form>
</div>
<table class="table">
	<thead>
		<tr><th scope="col">Ecole</th><th scope="col">Course List</th></tr>
	</thead>
	<tbody>
		<%  let total_budget = 0;
			clients.forEach(function (client) {%>
		<tr class="table-primary">
			<td>
				<a href="/client/<%=client.clientId%>">
				<%=client.name%> (<%=client.defaultRate.toFixed(2).padStart(5,'0')%>€)
				</a>
			</td>
			<td>
				<table class="table-light">
					<% let client_budget = 0;
						client.Projects.forEach(function (project) { %>
						<tr>
							<td>
								<a href="/project/<%=project.projectId%>">
									<%= project.name %>								
								</a>
							</td>
							<td>
								<%= project.budget.toFixed(2).padStart(5,'0')%>€	
							</td>
							<td>
								<%= project.year %>	
							</td>
						</tr>
					<% 
						client_budget += project.budget;
					}) %>
					<tr class="table-secondary">
						<td>
							Total
						</td>
						<td>
							<%= client_budget.toFixed(2).padStart(5,'0')%>€
						</td>
					</tr>
					<tr>
						<td>
							<a href="/project/add/<%=client.clientId%>">Add course</a>
						</td>
					</tr>				
				</table>
			</td>
		</tr>
		<%
		total_budget += client_budget;
		})%>
		<tr class="table-primary">
			<td>
				Total Budget
			</td>
			<td>
				<%=total_budget.toFixed(2).padStart(5,'0')%>€
			</td>	
		</tr>

		<!-- List of schools with no course yet-->
		<tr><th colspan="2">Not my clients</th></tr>
		<% all_clients.forEach(client => {%>
			<tr class="table-primary">
			<td>
				<a href="/client/<%=client.clientId%>">
				<%=client.name%> (<%=client.defaultRate.toFixed(2).padStart(5,'0')%>€)
				</a>
			</td>
			<td>
				<table class="table-light">
					<tr>
						<td>
							<a href="/project/add/<%=client.clientId%>">Add course</a>
						</td>
					</tr>				
				</table>
			</td>
		</tr>
					<% });%>		
	</tbody>
</table>

