<h1><%= pageTitle %></h1>
<h2 class="alert alert-light"><%= projectLabel %> Details and <%= taskLabel %>s</h2>

<form method="get" action="/task">
  <div class="card" style="width: 18rem">
    <div class="card-header"><%=project.name%> (<%=project.projectId%>)</div>
    <ul class="list-group list-group-flush">
      <% tasks.forEach(function (task) {%>
      <li class="list-group-item">
        <a href="/task/<%=task.taskId%>"><%=task.name%> - <%=task.steps%> steps</a>

        <a href="/task/delete/<%=task.taskId%>">X</a>
      </li>
      <%})%>
    </ul>
  </div>
</form>
