<h1><%= taskLabel %> Planification</h1>

<ul class="list-group">
    <li class="list-group-item active" aria-current="true" ><%= task.name %> for <%= project.name %></li>
    <li class="list-group-item">Steps: <%= task.steps %></li>
    <% for( let index = 1; index <= task.steps; index++ ) { %>
      <li class="list-group-item">
        <%= index %>: <a class="btn btn-outline-primary" href="/task/plan/<%= task.taskId %>/<%= index %>">Plan</a>
      </li>    
    <% } %>
  </ul>