<h1><%= taskLabel %> Planification</h1>

<ul class="list-group">
    <li class="list-group-item active" aria-current="true" ><%= task.name %> for <%= project.name %></li>
    <li class="list-group-item">There are <%= task.steps %> steps in this task</li>
    <% let index = 0;
       planning.forEach(function(step){%>
      <li class="list-group-item">
        <%= ++index %>: <%= step.startDate %> <strong><%= step.name %></strong> <%= step.duration %>
      </li>    
    <%})%>

    <% if (task.steps > index) { %>
      <li class="list-group-item">
      <a class="btn btn-outline-primary" href="/task/plan/<%= task.taskId %>">Plan</a>
    </li>
    <% } %>
  </ul>