<!DOCTYPE HTML>

<html>
	<head>
		<title><%= siteName %> | <%= pageTitle %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/assets/css/headers.css" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
		<link href="/assets/css/calendar.css" rel="stylesheet">
	</head>
	<body>
			<%- include('./partials/header') %>
			<!-- Main -->
			<div class="container">
				<%- include(`../pages/${template}`) %>
			</div>
			<%- include('./partials/footer') %>
		<%- include('./partials/scripts') %>
	</body>
</html>